* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    /* background-color: #dff1f5; */
    height: 100vh;
    padding-top: 1px;
    text-align: center;
    background-image: url("bg-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #023c3c;
    background-position: center;
}



.title {
    color: #02383c;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
    
}

.display {
    color: #02383c;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 350px;  
    background: rgba(245, 245, 245, 0.7);
    border-radius: 10px;
}

.imgbox img {

    position:absolute; 
    /* max-width: 10%; */
    width:150px;
    height:200px;
	right:17%; 
	top:50%; 
	transform:translate(-50%,-50%); 
}

.imgbox_1 img {

    position:absolute; 
    /* max-width: 10%; */
    width:150px;
    height:200px;
	right:8%; 
	top:50%; 
	transform:translate(-50%,-50%); 
}
.tile {
    border: 4px solid #02383c;
    margin: 2px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.tile-winner{
    border: 4px solid #02383c;
    margin: 2px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #7be382;

}

.playerX {
    color: #165BAA;
}

.playerO {
    color: #f765a3;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}
#rules{
    position: absolute;
    text-align: center;
    top: 7%;
    left: 5%;
}
#reset {
    background-color: #FF3860;
}

#congo-gif{
    position: absolute;
    display: inline-block;
    text-align: right;
    left: 70%;
    bottom: 37%;
}

#tie-gif{
    position: absolute;
    display: inline-block;
    text-align: right;
    right: 20%;
    bottom: 40%;
    max-width: 350px;
    max-height: 400px;
}

@media only screen and (max-width: 1100px) {
    .imgbox, .imgbox_1{
      display: none;
    }
  }